<mat-nav-list>
  <div *ngIf="accountService.currentUser$ | async as user" class="loggedindiv">
    <button mat-button [matMenuTriggerFor]="menu">
      <img
        class="img-circle"
        src="{{ user.photoUrl || './assets/user.png' }}"
        alt="{{ user.username }}"
      />
      {{ user.knownAs || user.username | titlecase }}
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/messages" routerLinkActive="activebutton"
        >Messages History</a
      >
      <button (click)="onClose()" mat-menu-item routerLink="/member/edit">
        Edit Profile
      </button>
      <button (click)="onClose()" mat-menu-item (click)="logout()">
        Logout
      </button>
    </mat-menu>
  </div>
  <ng-container *ngIf="accountService.currentUser$ | async">
    <a
      (click)="onClose()"
      mat-list-item
      routerLink="/members"
      routerLinkActive="activebutton"
    >
      <mat-icon class="fa fa-users"></mat-icon>
      <span class="nav-caption"> Members</span>
    </a>
    <a
      (click)="onClose()"
      mat-list-item
      routerLink="/lists"
      routerLinkActive="activebutton"
    >
      <mat-icon class="fa fa-plus"></mat-icon>
      <span class="nav-caption"> Follows</span>
    </a>
    <a
      (click)="onClose()"
      mat-list-item
      routerLink="/chats"
      routerLinkActive="activebutton"
    >
      <mat-icon class="fa fa-comments"></mat-icon>
      <span class="nav-caption"> Chats</span>
    </a>
    <a
      (click)="onClose()"
      mat-list-item
      routerLink="/admin"
      routerLinkActive="activebutton"
      *appHasRole="['Admin', 'Moderator']"
    >
      <mat-icon>face</mat-icon>
      <span class="nav-caption"> Admin</span></a
    >
  </ng-container>
  <ng-container *ngIf="!(accountService.currentUser$ | async)">
    <a
      (click)="onClose()"
      mat-raised-button
      style="background-color: #0084FF;color:white"
      style="width: 100%"
      routerLink="/login"
      routerLinkActive="activebutton"
      >Login</a
    >
  </ng-container>
</mat-nav-list>
