<mat-nav-list>
  <div *ngIf="accountService.currentUser$ | async as user" class="loggedindiv">
    <img
      src="{{ user.photoUrl || './assets/user.png' }}"
      alt="{{ user.username }}"
    />
    <button mat-button [matMenuTriggerFor]="menu">
      {{ user.knownAs || user.username | titlecase }}
    </button>
    <mat-menu #menu="matMenu">
      <button  (click)="onClose()" mat-menu-item routerLink="/member/edit">Edit Profile</button>
      <button (click)="onClose()" mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
  <ng-container *ngIf="accountService.currentUser$ | async">
    <a
      (click)="onClose()"
      mat-list-item
      routerLink="/members"
      routerLinkActive="activebutton"
    >
      <mat-icon class="fa fa-users"></mat-icon>
      <span class="nav-caption"> Members</span>
    </a>
    <a
      (click)="onClose()"
      mat-list-item
      routerLink="/lists"
      routerLinkActive="activebutton"
    >
      <mat-icon class="fa fa-plus"></mat-icon>
      <span class="nav-caption"> Follows</span>
    </a>
    <a
      (click)="onClose()"
      mat-list-item
      routerLink="/messages"
      routerLinkActive="activebutton"
    >
      <mat-icon class="fa fa-envelope"></mat-icon>
      <span class="nav-caption"> Messages</span>
    </a>
    <a
      (click)="onClose()"
      mat-list-item
      routerLink="/chats"
      routerLinkActive="activebutton"
    >
      <mat-icon class="fa fa-comments"></mat-icon>
      <span class="nav-caption"> Chats</span>
    </a>
    <a
      (click)="onClose()"
      mat-list-item
      routerLink="/admin"
      routerLinkActive="activebutton"
      *appHasRole="['Admin', 'Moderator']"
    >
      <mat-icon>face</mat-icon>
      <span class="nav-caption"> Admin</span></a
    >
  </ng-container>
  <ng-container *ngIf="!(accountService.currentUser$ | async)">
    <a
      (click)="onClose()"
      mat-raised-button
      color="primary"
      style="width: 100%"
      routerLink="/login"
      routerLinkActive="activebutton"
      >Login</a
    >
  </ng-container>
</mat-nav-list>
