
<div class="container content">
  <div class="row" style="margin-top: 5rem">
    <div fxHide.xs class="col-md-6 introtextcontainer">
      <h1 class="logotext">BeFriends</h1>
      <h2 class="introtext">
        BeFriends helps you connect and share with the people in your life.
      </h2>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="overlayContent">
        <app-register class="center-xs"></app-register>
      </div>
    </div>
  </div>
</div>
<!-- <div class="footer" style="background-color: white;color:grey;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <p class="hazemragab">Hazem Ragab<sup>©</sup></p>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="contact">
        <a href="https://www.facebook.com/HazemRg/"><i class="fa fa-facebook socialicon"></i></a>
        <a href="https://www.instagram.com/hazemragabb/"><i class="fa fa-instagram socialicon"></i></a>
        <a href="https://www.linkedin.com/in/rhazem13/"><i class="fa fa-linkedin socialicon"></i></a>
        <a href="https://wa.me/201060404916/"><i class="fa fa-whatsapp socialicon"></i></a>
        <a href="https://github.com/rhazem13/"><i class="fa fa-github socialicon"></i></a>
        </div>

      </div>
    </div>
  </div>
</div> -->
