<div *ngIf="!registerMode" id="main" style="margin-top: -100px">
  <div class="content">
    <h1> BeFriends </h1>
    <h2>Come on in to meet new people.. all you need to do is sign up!</h2>
    <button
      class="large-button"
      (click)="registerToggle()"
      mat-raised-button
      color="primary"
    >
      Register Now
    </button>
  </div>
</div>
<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div>
      <app-register
        (cancelRegister)="cancelRegisterMode($event)"
      ></app-register>
    </div>
  </div>
</div>
