a {
  text-decoration: none;
  color: white;
}
a:hover,
a:active {
  color: lighgray;
}
.navlogo{
  height: 35px;
  margin-top: 12px;
  margin-left: 20px;
  width: 30%;
  height: auto;
}
.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

/* from nav */

.loggedindiv {
  display: flex;
  align-items: center;
  height: 80%;
}

.mat-form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#NavLogo {
  text-decoration: none;
  color: white;
  font: 900;
}

.navbutton{
  height: 100%;
  width: 100%;
  color:#171f48 !important;
}

.activebutton {
  color: white !important;
  border-bottom: 3px solid white;
  border-radius: 0px !important;

}

.loader-container {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.userphoto {
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  display: inline;
}

.img-circle {
  max-height: 50px;
  border-radius: 50%;
  margin-right: 0.6rem;
}
.icon-display {
  transform: scale(1.5);
}
.mat-icon {
  vertical-align: middle;
}
.icon-text {
  display: flex;
  align-items: center;
}

.mat-mdc-button > .mat-icon {
  margin: 0;
}

.applogo {
  font-weight: 800;
  font-size: x-large;
}

.navbarcontainer {
  height: 56px;
  background-color: #0084FF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbarlogo{
  padding-top: 17px;
  padding-left: 25px;
}

.navbarphotocontainer{
  padding-top: 10px;

}
