<mat-toolbar color="primary">
  <div fxHide>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="container justify-content-center align-items-center">
    <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs>
      <a
        *ngIf="!(accountService.currentUser$ | async)"
        routerLink="/"
        class="applogo"
        >BeFriends</a
      >
      <a
        *ngIf="accountService.currentUser$ | async"
        routerLink="/members"
        class="applogo"
        >BeFriends</a
      >
    </div>
    <div
      fxFlex
      fxLayout
      fxLayoutAlign="flex-center"
      class="container justify-content-center align-items-center"
    >
      <ng-container *ngIf="accountService.currentUser$ | async">
        <a
          mat-button
          routerLink="/members"
          routerLinkActive="activebutton"
          class="roundedbutton"
          ><mat-icon class="fa fa-users icon-display"></mat-icon
        ></a>
        <a
          mat-button
          routerLink="/lists"
          routerLinkActive="activebutton"
          class="roundedbutton"
          ><mat-icon class="fa fa-user-plus icon-display"></mat-icon
        ></a>

        <a
          mat-button
          routerLink="/chats"
          routerLinkActive="activebutton"
          class="roundedbutton"
          ><mat-icon class="fa fa-paper-plane icon-display"></mat-icon
        ></a>
        <a
          mat-button
          routerLink="/admin"
          routerLinkActive="activebutton"
          *appHasRole="['Admin', 'Moderator']"
          >Admin</a
        >
      </ng-container>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <div class="justify-content-center align-items-center">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <div
            *ngIf="accountService.currentUser$ | async as user"
            class="loggedindiv"
          >
            <button mat-button [matMenuTriggerFor]="menu">
              <img
                class="img-circle"
                src="{{ user.photoUrl || './assets/user.png' }}"
                alt="{{ user.username }}"
              />
            </button>
            <mat-menu #menu="matMenu" yPosition="below">
              <a
                mat-menu-item
                routerLink="/messages"
                routerLinkActive="activebutton"
                >Messages History</a
              >
              <button mat-menu-item routerLink="/member/edit">
                Edit Profile
              </button>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
          </div>
          <ng-container *ngIf="!(accountService.currentUser$ | async)">
            <li>
              <a mat-button routerLink="/login" routerLinkActive="activebutton"
                >Login</a
              >
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="row" *ngIf="busyService.isLoading | async">
  <div class="loader-container">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  </div>
</div>
