.cell{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formcontainer{
  background-color: white;
  padding-top:30px;
  padding-bottom:30px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 13px;

}
