<div class="container">
  <div class="row content">
    <div class="col-xs-11 col-sm-5 col-md-5 col-lg-5">
      <div class="row">
        <div class="col-xs-12 formcontainer">
          <form
            #loginForm="ngForm"
            class="login-form"
            (ngSubmit)="login()"
            autocomplete="off"
          >
            <div class="row" style="justify-content: center">
              <div class="col-xs-12">
                <h1
                  class="text-center"
                  style="font-size: 2.5em; font-weight: 500"
                >
                  Welcome back
                </h1>
                <p>Enter you username and password.</p>
                <hr />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <mat-form-field appearance="outline" style="width: 70%">
                  <input
                    name="username"
                    [(ngModel)]="model.username"
                    matInput
                    type="text"
                    placeholder="Username"
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <mat-form-field appearance="outline" style="width: 70%">
                  <input
                    name="password"
                    [(ngModel)]="model.password"
                    matInput
                    type="password"
                    placeholder="Password"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <mat-error *ngIf="wrongCreds">The username or password you entered isn't connected to an account. Find your account and log in.</mat-error>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button
                  style="width: 70%"
                  color="primary"
                  mat-raised-button
                  type="submit"
                >
                  Login
                </button>
              </div>
            </div>
            <div></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
