<div class="container" style="margin-top: 5rem;">
  <div
    class="row"
    style="margin-top: 20px"
    class="d-flex justify-content-center align-items-center"
  >
    <mat-button-toggle-group
      [(ngModel)]="predicate"
      value="followed"
      name="predicate"
      aria-label="predicate"
    >
      <mat-button-toggle
        value="followed"
        class="my-toggle-button"
        (click)="loadFollows()"
        >Follwoing</mat-button-toggle
      >
      <mat-button-toggle
        value="followedBy"
        class="my-toggle-button"
        (click)="loadFollows()"
        >Followers</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <div class="row">
    <div
    style="margin-top: 1.5rem"
      class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-2"
      *ngFor="let member of members"
    >
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>

<div class="row" style="justify-content: center" *ngIf="pagination">
  <mat-paginator
    class="d-flex justify-content-center align-items-center"
    style="background-color: rgba(0, 0, 0, 0); margin-top: 20px"
    #paginator
    (page)="handlePageEvent($event)"
    [length]="pagination.totalItems"
    [pageSize]="pagination.itemsPerPage"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions ? pageSizeOptions : []"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
