.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.rounded-circle {
  max-height: 50px;
  border-radius: 50%;
}

.chat-img {
  margin-left: auto;
}

.scroller {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  overflow-x: auto;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f51b5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f51b5;
}
.messagesentbody {
  max-width: 50%;
  padding: 10px 10px;
  margin: 3px;
  float: right;
  clear: right;
  background-color: #3f51b5;
  border-radius: 14px;
  color: white;
  line-height: 20px;
  font-size: 0.9375rem;
  margin-right: 2rem;
}

.seen {
  color: white;
  float: right;
}
.sent {
  color: white;
  float: right;
}

.messagereceivedbody {
  max-width: 50%;
  padding: 10px 10px;
  margin: 3px;
  float: left;
  clear: left;
  background-color: #e4e6eb;
  border-radius: 14px;
  color: #050505;
  line-height: 20px;
  font-size: 0.9375rem;
  margin-left: 2rem;
}

.messagetime {
  display: table;
  margin: 0 auto;
}

.mdc-notched-outline__leading {
  border-radius: 55px 0 0 55px !important;
  min-width: 28px !important;
}

.mdc-notched-outline__trailing {
  border-radius: 0 55px 55px 0 !important;

}

.contact-avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

