.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.rounded-circle {
  max-height: 50px;
  border-radius: 50%;
}

.chat-img {
  margin-left: auto;
}

.messagesentbody {
  max-width: 50%;
  padding: 10px 10px;
  margin: 3px;
  float: right;
  clear: right;
  background-color: #0084ff;
  border-radius: 14px;
  color: white;
  line-height: 20px;
  font-size: 0.9375rem;
  margin-right: 2rem;
}

.seen {
  color: white;
  float: right;
}
.sent {
  color: white;
  float: right;
}

.messagereceivedbody {
  max-width: 50%;
  padding: 10px 10px;
  margin: 3px;
  float: left;
  clear: left;
  background-color: #e4e6eb;
  border-radius: 14px;
  color: #050505;
  line-height: 20px;
  font-size: 0.9375rem;
  margin-left: 2rem;
}

.messagetime {
  display: table;
  margin: 0 auto;
}

.mdc-notched-outline__leading {
  border-radius: 55px 0 0 55px !important;
  min-width: 28px !important;
}

.mdc-notched-outline__trailing {
  border-radius: 0 55px 55px 0 !important;
}

.contact-avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.opencontactbar{
margin-top:4px;margin-left:5px;
}
@media (max-width: 760px) {
  /* CSS styles for screens less than 760px wide go here */
  .emptychatmsg{
margin-top:50%;
  }

.opencontactbar{
margin-top:20px;margin-left:5px;
}
}
