<div *ngIf="!username" style="height: 100%">
  <div class="row align-items-center h-100 d-flex justify-content-center">
    <div class="col-xs-5">
      <div
        style="
          border-radius: 13px;
          background-color: #b8b8b8;
          text-align: center;
        "
      >
        <h3 style="color: white">select a chat to start messaging</h3>
      </div>
    </div>
  </div>
</div>
<div *ngIf="username">
  <div
    class="row"
    style="box-shadow: 0px 0.3px 0px #606266; margin-bottom: 1rem"
  >
    <div style="width: 50px">
      <img
        src="{{ contact.photoUrl }}"
        class="contact-avatar"
        alt="{{ contact.knownAs }}"
      />
    </div>
    <div class="col-xs-11">
      <p style="font-size: 15px; font-weight: 500; margin-bottom: 0px">
        {{ contact.username }}
      </p>
      <p style="font-size: 13px; font-weight: 300; color: #606266">
        Active {{ contact.lastActive | timeago }}
      </p>
    </div>
  </div>
  <ul
    #scrollMe
    style="overflow: scroll; height: calc(100vh - 230px)"
    [scrollTop]="scrollMe.scrollHeight"
    class="chat scroller"
  >
    <li *ngFor="let message of messageService.messageThread$ | async">
      <div>
        <div class="row">
          <div class="col-xs-12">
            <ng-container *ngIf="displaydate(message.messageSent) === true">
              <br />
              <span class="messagetime">{{
                message.messageSent | timeago
              }}</span>
              <br />
            </ng-container>
            <div
              *ngIf="message.senderUsername === username"
              class="messagereceivedbody"
            >
              {{ message.content }}
            </div>
            <div
              *ngIf="message.senderUsername != username"
              class="messagesentbody"
            >
              <div class="messagetext">
                {{ message.content }}
              </div>
              <i *ngIf="message.dateRead" class="bi bi-check seen"></i>
              <i *ngIf="!message.dateRead" class="bi bi-check-all sent"></i>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <!-- <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
    <mat-form-field appearance="outline" style="width: 100%">
      <input
        type="text"
        matInput
        name="messageContent"
        appearance="outline"
        [(ngModel)]="messageContent"
      />
      <button color="primary" matSuffix mat-icon-button type="submit">
        <mat-icon
          fontSet="fa"
          fontIcon="fa-paper-plane"
          style="font-size: 1.35rem"
        ></mat-icon>
      </button>
    </mat-form-field>
  </form> -->
  <!-- <emoji-mart
  [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"
></emoji-mart> -->
  <!-- <input
    #inputField
    [(ngModel)]="message"
    [emojiMart]="{ autoHide: true }"
    (emojiSelect)="addEmoji($event)"
  /> -->

  <!-- <button mat-button [matMenuTriggerFor]="aboveMenu">
    {{ emojiPickerVisible ? "Close" : "Open" }} Emoji Picker
  </button> -->
  <mat-menu xPosition="before"  #aboveMenu="matMenu" yPosition="above">
      <div style="width: 100%">
        <emoji-mart
      (click)="$event.stopPropagation()"
      [title]="''"
      [emoji]="emoji"
      (emojiSelect)="selectEmoji($event)"
      [style]="{ width:'100%' }"
      [darkMode]="false"
    ></emoji-mart>
</div>

  </mat-menu>

<form
            #messageForm="ngForm"
            (ngSubmit)="sendMessage()"
            autocomplete="off"
          >
            <div class="input-group mb-3">

              <input
                type="text"
                matInput
        name="messageContent"
        [(ngModel)]="messageContent"
                class="form-control"
                placeholder="Aa"
                style="
                  border-radius: 30px 0px 0px 30px;
                  background-color: #f3f3f5;
                  border: 0px solid black;
                "
              />
              <div class="input-group-append">
                <span [matMenuTriggerFor]="aboveMenu"
                  style="
                    height: 100%;
                    color: #65676b;
                    border-radius: 0px 30px 30px 0px;
                    background-color: #f3f3f5;
                    border: 0px solid black;
                  "
                  class="input-group-text"
                  ><svg class="x1lliihq x1rdy4ex xcud41i x4vbgl9 x139jcc6 x1k90msu x13hzchw x1qfuztq xsrhx6k" height="28px" viewBox="0 0 36 36" width="28px"><path clip-rule="evenodd" d="M18 29c6.075 0 11-4.925 11-11S24.075 7 18 7 7 11.925 7 18s4.925 11 11 11zm-5.25-13c0-1.25.563-2 1.5-2 .938 0 1.5.75 1.5 2s-.563 2-1.5 2c-.938 0-1.5-.75-1.5-2zm7.5 0c0-1.25.563-2 1.5-2 .938 0 1.5.75 1.5 2s-.563 2-1.5 2c-.938 0-1.5-.75-1.5-2zm-7.52 5.464a1 1 0 011.41-.12 5.963 5.963 0 003.856 1.406c1.47 0 2.813-.528 3.856-1.406a1 1 0 111.288 1.53 7.962 7.962 0 01-5.144 1.876 7.962 7.962 0 01-5.144-1.877 1 1 0 01-.121-1.409z" fill="#0084ff" fill-rule="evenodd"></path></svg></span>
              </div>
            </div>
          </form>
</div>
