.chatscontainer {
  background-color: white;
  height: calc(100vh - 56px);
  margin: 0;
  padding: 0;
}
.leftmenucontainer {
  padding: 20px;
  border-right: 1px solid #e5e5e5;
  height: calc(100vh - 56px);
}
.chatrow {
  padding: 0px;
}
.chatrow :hover {
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
}

.activeChat {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.chat-avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.img-circle {
  max-height: 60px;
  border-radius: 50%;
}

.table-img-container {
  display: flex;
  align-items: center;
}

.material-icons {
  position: relative;
  top: 11px;
}
