<div class="chatscontainer">
  <div class="row">
    <div class="col-xs-3 leftmenucontainer">
      <div class="col">
        <div class="row-xs-2">
          <h2 style="font-size: 1.5rem; font-weight: 550">Chats</h2>
          <form
            #messageForm="ngForm"
            (ngSubmit)="searchContacts()"
            autocomplete="off"
          >
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span
                  style="
                    height: 100%;
                    color: #65676b;
                    border-radius: 30px 0px 0px 30px;
                    background-color: #f3f3f5;
                    border: 0px solid black;
                  "
                  class="input-group-text"
                  ><i class="fa fa-search"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Search Contacts"
                style="
                  border-radius: 0px 30px 30px 0px;
                  background-color: #f3f3f5;
                  border: 0px solid black;
                "
              />
            </div>
          </form>
        </div>
      </div>
      <div
        *ngFor="let chat of chats"
        class="chatrow"
        [ngClass]="{ activeChat: chat.contactUsername === openchatusername }"
      >
        <div class="row" (click)="openChat(chat.contactUsername)">
          <div class="col-xs-2">
            <img
              class="chat-avatar"
              src="{{ chat.contactPhotoUrl || './assets/user.png' }}"
              alt="{{ chat.contactUsername }}"
            />
          </div>
          <div class="col-xs-10">
            <div class="col">
              <div class="row-xs-6">
                <div class="row">
                  <div
                    class="col-xs-8"
                    style="font-size: 1.1rem; font-weight: 500"
                  >
                    <p style="margin: 0">
                      {{ chat.contactUsername | titlecase | slice : 0 : 10 }}
                    </p>
                  </div>
                  <div class="col-xs-4" style="color: gray">
                    <p style="float: right">
                      {{ chat.messageSent | timeago | slice : 0 : 6 }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row-xs-6" style="color: gray">
                {{ chat.content | slice : 0 : 48 }}
                <i
                  *ngIf="chat.dateRead"
                  style="color: gray"
                  class="bi bi-check"
                ></i>
                <i
                  *ngIf="!chat.dateRead"
                  style="color: blue"
                  class="bi bi-check-all"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-xs-8"
      style="padding-top: 2rem; padding-right: 2rem; padding-left: 0.5rem"
    >
      <app-member-messages [username]="openchatusername"></app-member-messages>
    </div>
  </div>
</div>

