<mat-form-field appearance="outline"  style="width: 100%;margin-bottom: 1.5rem;">
  <mat-label>Date of birth</mat-label>
  <input

    [formControl]="ngControl.control"
    matInput
    placeholder="{{ label }}"
    required
    [matDatepicker]="picker"
    [max]="maxDate"
  />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error *ngIf="ngControl.control.errors?.required"
    >{{ label }} is required.</mat-error
  >
</mat-form-field>
