.fab-buttons {
  justify-content: space-around;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
}

.nv-file-over{
  border: dotted 5px #0084FF !important;
}

input[type=file] {
  color: transparent;
}

.my-drop-zone{
  padding:10px;
  border:solid 1px black;
  margin-bottom: 30px;
}
.cardimg{
  width: 200px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #0084FF;
  border-color: #007bff;
  border-radius: 0.25rem;
  text-align: center;
}

.custom-file-upload:hover {
  background-color: #0065c4;
  border-color: #0062cc;
}

.custom-file-upload:active {
  background-color: #0065c4;
  border-color: #005cbf;
}
