<div class="row">
  <div class="col-lg-3 d-none d-lg-block">
    <div class="row" class="leftsidecontainer">
      <div class="sidenav">
        <div
          class="row sidenavrowcontainer"
          routerLink="/members/{{ user.username }}"
        >
          <div class="col-xs-1">
            <img class="sidenavavatar" src="{{ user.photoUrl }}" />
          </div>
          <div class="col-xs-11 sidenavusername">{{ user.username }}</div>
        </div>
        <div class="row sidenavrowcontainer" routerLink="/member/edit">
          <div class="col-xs-1">
            <img
              draggable="false"
              height="36"
              width="36"
              alt=""
              referrerpolicy="origin-when-cross-origin"
              src="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/8OasGoQgQgF.png"
            />
          </div>
          <div class="col-xs-11 sidenavusername">Edit profile</div>
        </div>
        <div class="row sidenavrowcontainer" routerLink="/lists">
          <div class="col-xs-1">
            <i
              data-visualcompletion="css-img"
              class=""
              style="
                background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/BHDNlEdwMgn.png');
                background-position: 0px -296px;
                background-size: auto;
                width: 36px;
                height: 36px;
                background-repeat: no-repeat;
                display: inline-block;
              "
            ></i>
          </div>
          <div class="col-xs-11 sidenavusername">Following</div>
        </div>

        <div class="row sidenavrowcontainer" (click)="refreshPage()">
          <div class="col-xs-1">
            <img
              draggable="false"
              height="36"
              width="36"
              alt=""
              referrerpolicy="origin-when-cross-origin"
              src="https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eECk3ceTaHJ.png"
            />
          </div>
          <div class="col-xs-11 sidenavusername">Most recent</div>
        </div>
        <div class="row sidenavrowcontainer" routerLink="/chats">
          <div class="col-xs-1">
            <i class="fa fa-paper-plane" style="font-size: 30px;color:#0084ff"></i>
          </div>
          <div class="col-xs-11 sidenavusername">Messages</div>
        </div>
        <div class="row sidenavrowcontainer" routerLink="/messages">
          <div class="col-xs-1">
            <i
              data-visualcompletion="css-img"
              class=""
              style="
                background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/BHDNlEdwMgn.png');
                background-position: 0px -444px;
                background-size: auto;
                width: 36px;
                height: 36px;
                background-repeat: no-repeat;
                display: inline-block;
              "
            ></i>
          </div>
          <div class="col-xs-11 sidenavusername">Messages History</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6">
    <div class="row">
      <div class="d-lg-block col-lg-1 d-none"></div>
      <div class="col-xs-12 col-lg-10 ">
        <div>
          <mat-card class="createpost">
            <div class="row">
              <div class="col-xs-2 col-md-1" routerLink="/members/{{ user.username }}" style="cursor:pointer">
                <img
                  src="{{ user.photoUrl || './assets/user.png' }}"
                  style="width: 90px; border-radius: 50%; padding: 1rem"
                />
              </div>
              <div class="col-xs-10 col-md-11">
                <form class="post-form" (ngSubmit)="submitPost()">
                  <div class="form-group">
                    <textarea
                      class="form-control post-textarea"
                      rows="2"
                      placeholder="What's on your mind, {{ user.username }}?"
                      [(ngModel)]="content"
                      name="post-content"
                    ></textarea>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-xs-8">
                      <div class="form-group">
                        <div class="file-upload">
                          <input
                            type="file"
                            class="file-upload-input"
                            id="imageUpload"
                            name="imageUpload"
                            (change)="onFileSelected($event)"
                            #fileInput
                            accept=".jpg,.png,.jpeg"
                            style="display: none"
                          />
                          <label for="imageUpload" style="cursor:pointer"
                            ><i
                              class="fa fa-photo"
                              style="
                                color: #0084ff;
                                font-size: 2.5rem;
                                margin-left: 0.5rem;
                                margin-top: -4px;
                              "
                            ></i
                          ></label>
                          <span *ngIf="selectedFile !== null">{{
                            selectedFile.name
                          }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <button
                        type="submit"
                        class="btn btn-primary post-btn"
                        style="float: right"
                      >
                        Post <i class="fa fa-location-arrow"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </mat-card>
          <div *ngFor="let post of posts" class="post">
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar routerLink="/members/{{ post.posterUserName }}" style="cursor:pointer">
                  <img src="{{ post.posterPhotoUrl }}" class="posterphotourl" />
                </div>
                <mat-card-title class="postusername" routerLink="/members/{{ post.posterUserName }}" style="cursor:pointer">{{
                  post.posterUserName
                }}</mat-card-title>
                <mat-card-subtitle class="posttime"
                  >{{ post.posted | timeago }} · <i class="fa fa-user"></i
                ></mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="postcontent">
                  {{ post.content }}
                </p>
              </mat-card-content>
              <img
                *ngIf="post.contentImageUrl != null"
                mat-card-image
                style="max-height: 500px; width: auto; object-fit: cover"
                src="{{ post.contentImageUrl }}"
                alt="Photo of a Shiba Inu"
              />
              <hr style="margin-bottom: 0px" />

              <mat-card-actions>
                <button style="width: 100%" mat-button>
                  <i
                    data-visualcompletion="css-img"
                    class="x1b0d499 x1d69dk1"
                    style="
                      background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/MQeT9DYW9Fz.png');
                      background-position: 0px -343px;
                      background-size: auto;
                      width: 18px;
                      height: 18px;
                      background-repeat: no-repeat;
                      display: inline-block;
                    "
                  ></i>
                  Like
                </button>
                <button style="width: 100%" mat-button>
                  <i
                    data-visualcompletion="css-img"
                    class="x1b0d499 x1d69dk1"
                    style="
                      background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/MQeT9DYW9Fz.png');
                      background-position: 0px -305px;
                      background-size: auto;
                      width: 18px;
                      height: 18px;
                      background-repeat: no-repeat;
                      display: inline-block;
                    "
                  ></i>
                  Comment
                </button>
                <button style="width: 100%" mat-button>
                  <i
                    data-visualcompletion="css-img"
                    class="x1b0d499 x1d69dk1"
                    style="
                      background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/MQeT9DYW9Fz.png');
                      background-position: 0px -362px;
                      background-size: auto;
                      width: 18px;
                      height: 18px;
                      background-repeat: no-repeat;
                      display: inline-block;
                    "
                  ></i>
                  Share
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="d-lg-block col-lg-1 d-none"></div>
    </div>
  </div>
  <div class="col-lg-3 d-none d-lg-block">
    <div class="row" style="height: 100%">
      <div class="col-xs-5"></div>
      <div class="col-xs-7 contactscontainer">
        <hr style="margin-left: 14px;" />
        <p class="contactslabel"style="margin-left:14px">Contacts</p>
        <div
          *ngFor="let chat of chats"
          class="row sidenavrowcontainer"
          style="margin:0px 8px 0px 0px!important"
          (click)="openChat(chat.contactUsername)"
        >
          <div class="col-xs-1">
            <img
              class="sidenavavatar"
              src="{{ chat.contactPhotoUrl || './assets/user.png' }}"
            />
          </div>
          <div class="col-xs-11 sidenavusername">
            {{ chat.contactUsername }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
