.post-form {
  padding: 1.5rem;
}
@import url(https://fonts.googleapis.com/css?family=Alata);

.post-textarea {
  border: none;
  resize: none;
  font-size: 22px;
  font-family: "Alata";
}

.custom-file-label::after {
  content: "Browse";
}

.post-btn {
  margin: 0rem 0.5rem;
  background-color: #0084ff !important;
  border-radius: 2rem;
  width: 90px;
}

.createpost {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.post {
  margin-bottom: 1rem;
}

.sidenav {
  padding-top: 1.5rem;
  padding-left: 20px;
  margin-left: 12px;
  margin-top: 7px;
  /**/
  position: fixed;
  top: 54px;
  bottom: 0;
  width: 350px;

  /* Make the sidenav sticky */
  overflow-y: auto;
  z-index: 1;
}

.sidenavavatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.sidenavusername {
  font-size: 15px;
  font-weight: 600;
  align-self: center;
  padding-left: 25px;
}

.sidenavrowcontainer {
  padding: 8px 8px;
}

.sidenavrowcontainer:hover {
  background-color: #e4e6e9;
  cursor: pointer;
}

.contactscontainer {
  padding-top: 1rem;

  /**/
  position: fixed;
  top: 54px;
  bottom: 0;
  width: 365px;
  right: 0;

  /* Make the sidenav sticky */
  overflow-y: auto;
  z-index: 1;
}

.contactslabel {
  color: #65676b;
  font-size: 17px;
}

.leftsidecontainer {
  height: 100%;
}

.postusername {
  font-family: "alata";
  margin-left: 15px;
}
.posttime {
  font-family: "alata";
  margin-left: 15px;

}
.postcontent {
  line-height: 1.6rem;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 2px;
  font-weight: 450;
  padding-bottom: 15px;
  font-family: 'Segoe UI';
  /* margin-left: 70px; */
}

.posterphotourl {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
