.post-form {
  padding: 1.5rem;
}

.post-textarea {
  border: none;
  resize: none;
}

.custom-file-label::after {
  content: "Browse";
}

.post-btn {
  margin: 0rem .5rem;
  background-color: #3f51b5 !important;
  border-radius: 2rem;
}

.createpost {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.post {
  margin-bottom: 1rem;
}

.sidenav {
  padding-top: 1.5rem;
  padding-left: 20px;
  background-color: white;
  border-right: 1px solid #cccccc; /* thickness and color of the border */
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
/**/
  position: fixed;
top: 54px;
bottom: 0;
width: 350px;

/* Make the sidenav sticky */
overflow-y: auto;
z-index: 1;


}

.sidenavavatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.sidenavusername {
  font-size: 15px;
  font-weight: 500;
  align-self: center;
  padding-left: 25px;
}

.sidenavrowcontainer {
  padding: 8px 8px;
  border-radius: 5px;
}

.sidenavrowcontainer:hover {
  background-color: #e4e6e9;
  cursor: pointer;
}

.contactscontainer {
  padding-top: 1rem;
  background-color: white;
  border-left: 1px solid #cccccc; /* thickness and color of the border */
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.1);

  /**/
  position: fixed;
top: 54px;
bottom: 0;
width: 365px;
right: 0;

/* Make the sidenav sticky */
overflow-y: auto;
z-index: 1;
}

.contactslabel {
  color: #65676b;
  font-size: 17px;
}

.leftsidecontainer{
  height: 100%;
}

