<div class="container">
  <div class="col-xs-8 mx-auto" style="padding: 20px 50px">
    <mat-card>
      <div class="row">
        <div class="col-xs-2">
          <img
            src="{{ user.photoUrl || './assets/user.png' }}"
            style="width: 90px; border-radius: 50%; padding: 1rem"
          />
        </div>
        <div class="col-xs-10">
          <form class="post-form" (ngSubmit)="submitPost()">
            <div class="form-group">
              <textarea
                class="form-control post-textarea"
                rows="3"
                placeholder="What's on your mind, {{ user.username }}?"
                [(ngModel)]="content"
                name="post-content"
              ></textarea>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <div class="form-group">
                  <div class="file-upload">
                    <input
                      type="file"
                      class="file-upload-input"
                      id="imageUpload"
                      name="imageUpload"
                      (change)="onFileSelected($event)"
                      #fileInput
                      accept=".jpg,.png,.jpeg"
                      style="display: none"
                    />
                    <label for="imageUpload"
                      ><i
                        class="fa fa-photo"
                        style="
                          color: #3f51b5;
                          font-size: 1.5rem;
                          margin-top: 1rem;
                          margin-left: 0.5rem;
                        "
                      ></i
                    ></label>
                    <span *ngIf=
        "selectedFile !== null">{{ selectedFile.name }}</span>
                  </div>

                </div>
              </div>
              <div class="col-xs-4">
                <button
                  type="submit"
                  class="btn btn-primary post-btn"
                  style="float: right"
                >
                  Post
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>

  <div
    *ngFor="let post of posts"
    style="padding: 10px 50px"
    class="col-xs-8 mx-auto"
  >
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img
            src="{{ post.posterPhotoUrl }}"
            style="width: 50px; height: 50px; border-radius: 50%"
          />
        </div>
        <mat-card-title>{{ post.posterUserName }}</mat-card-title>
        <mat-card-subtitle>{{ post.posted | timeago }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p style="font-size: 1.1rem; padding: 0.5rem 0rem">
          {{ post.content }}
        </p>
      </mat-card-content>
      <img
        *ngIf="post.contentImageUrl != null"
        mat-card-image
        style="max-height: 500px; width: auto; object-fit: cover"
        src="{{ post.contentImageUrl }}"
        alt="Photo of a Shiba Inu"
      />

      <mat-card-actions>
        <button style="width: 100%" mat-button>
          <i class="fa fa-thumbs-up"></i>Like
        </button>
        <button style="width: 100%" mat-button>
          <i class="fa fa-comment"></i>Comment
        </button>
        <button style="width: 100%" mat-button>
          <i class="fa fa-share"></i>Share
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
